@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #111827;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
}

mark.level-1 {
  background: rgba(29, 158, 117, 0.15);
  border-bottom: 2px solid #0f6e56;
  border-radius: 2px;
  padding: 1px 0;
  cursor: pointer;
}

mark.level-2 {
  background: rgba(186, 117, 23, 0.15);
  border-bottom: 2px solid #854f0b;
  border-radius: 2px;
  padding: 1px 0;
  cursor: pointer;
}

mark.level-3 {
  background: rgba(83, 74, 183, 0.15);
  border-bottom: 2px solid #3c3489;
  border-radius: 2px;
  padding: 1px 0;
  cursor: pointer;
}

button.ann-tag {
  display: inline-block;
  font-size: 10px;
  font-weight: 600;
  padding: 1px 4px;
  border-radius: 3px;
  margin-left: 3px;
  vertical-align: super;
  cursor: pointer;
  border: none;
  background: transparent;
}

mark.level-1 button.ann-tag {
  color: #085041;
}

mark.level-2 button.ann-tag {
  color: #633806;
}

mark.level-3 button.ann-tag {
  color: #26215c;
}
